{% load static %}
<p class="card-text">{{ task.question }}</p>

{% if mode == 'solve' %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}">
        <p><img src="{% static 'learning_environment/images/' %}{{task.content.1}}"></img><p>
        <p><input type="text" size="30" name="answer"></p>
        <div style="margin-top: 2em">
            <button type="submit" class="btn btn-secondary">Check!</button>
        </div>
    </form>
{% else %}
    {% if solved %}
        <p>You solved it! </p>
    {% else %}
        <p>You failed. You only mentioned {{mentioned}}/5 nouns.</p>
    {% endif %}

    {% for l in labels%}
        {{l}}
    {% endfor %}
{% endif %}
