{% load static %}
<p class="card-text">{{ task.question }}</p>

{% if mode == 'solve' %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}">
        <p><img src="{% static 'learning_environment/images/' %}{{task.content.1}}"></img><p>
        <p><input type="text" size="30" name="answer"></p>
        <div style="margin-top: 2em">
            <button type="submit" class="btn btn-secondary">Check!</button>
        </div>
    </form>
{% else %}
    {% if solved %}
        <p>You solved it! </p>
    {% else %}
        <p>You failed. You only mentioned {{mentioned}}/5 nouns.</p>
    {% endif %}
    <p><img src="{% static 'learning_environment/images/' %}{{task.content.1}}"></img><p>
    <p><b>Your answer was:</b></p>
    <p> {{answer}}</p>
    <p>
    <p><b>You mentioned the following items of the image:</b></p>
    {% for noun in mentioned_nouns %}
        <p>{{noun}}</p>
    {% endfor %}

    </br> </br>
    <p><b>You did not mentioned:</b></p>
    {% for noun_not in not_mentioned_nouns %}
    
        <p>{{noun_not}}</p>
    {% endfor %}

    {% if spelling_wrong %}
        <p><b>You had {{error_spelling}} spelling mistakes:</b></p>
        {% for noun_false in false_words %}
        
        <p> {{noun_false}}</p>
        {% endfor %}

        <p><b>We corrected them into: </b></p>
        {% for noun_corrected in corrected_words %}
        
        <p> {{noun_corrected}} </p>
        {% endfor %}
    {% endif %}

</br>
    {% if error_tense != 0 %}
    <p><b>You had {{error_tense}} tense mistake/s. Verbs must be in present tense. The wrong verbs were</b></p>
    {% for w in wrong_tense %}
    {{w}}
    {% endfor %}

    {% endif %}
  
  

{% endif %}
