{% load static %}
<p class="card-text">{{ task.question }}</p>

{% if mode == 'solve' %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.id }}">
        <p><img src="{% static 'learning_environment/images/' %}{{task.content.1}}"></img><p>
        <p><input type="text" size="30" name="answer"></p>
        <div style="margin-top: 2em">
            <button type="submit" class="btn btn-secondary">Check!</button>
        </div>
    </form>
{% else %}
    {% if solved %}
        <p>You solved it! </p>
    {% else %}
        <p>You failed. You only mentioned {{mentioned}}/5 nouns.</p>
    {% endif %}
    <p>labels:</p>

    <p>You mentioned:</p>
    {% for noun in mentioned_nouns %}
    
        {{noun}}
    {% endfor %}

    <p>You did not mentioned:</p>
    {% for noun_not in not_mentioned_nouns %}
    
        {{noun_not}}
    {% endfor %}

    <p>Speeling mistakes:</p>
    {% for noun_false in false_words %}
    
        {{noun_false}}
    {% endfor %}

    <p>We corrected them into: </p>
    {% for noun_corrected in corrected_words %}
    
        {{noun_corrected}}
    {% endfor %}
{% endif %}
